body {
    background-color: #f7f8f9;
}

.container {
    display: flex;
    gap: 150px;
    flex-direction: row;
    height: 100vh;
}

.card {
    display: flex;
    background-image: url("../public/playground.jpg");
    margin-left: 12px;
    margin-top: 12px;
}

.board {
    display: flex;
    position: absolute;
    align-self: flex-end;
    background-color: burlywood;
    border-radius: 10px;
    margin-bottom: 8px;
    outline: none;
}

.ball {
    position: absolute;
    display: flex;
    border-radius: 50%;
    color: white;
    justify-content: center;
    align-items: center;
}

.timer {
    font-size: 40px;
    color: chartreuse;
}

.points {
    font-size: 40px;
    color: bisque;
}

.timerPointsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.userStatus {
    font-size: 20px;
}

.newGameButton {
    color: chocolate;
    font-size: 14px;
    padding: 5px 10px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 30px;
}
